<!DOCTYPE html>
<html>
<head>
	<title>Postage Total Cost</title>
</head>
<body>
	<h1>Postage Calculation</h1>
	<p>The cost of sending "<%= size %>" weighing <%= weight %> ounces is: $<%= cost %></p>
</body>
</html>