<!DOCTYPE html>
<html>
<head>
  <title>CS 313 Walmart Node App</title>
</head>

<body>

<h1>CS 313 Node App</h1>

<p>Welcome to the Walmart Node app. Here, you will find hot products on the Walmart website. You can also browse by category or search by product id or name.</p>


</body>
</html>
