<!DOCTYPE html>
<html>
<head>
  <title>Postage Calculator</title>
</head>

<body>

<p>Welcome to the Postage Calculator application. To get started, <a href="/form.html">click here</a>.</p>


</body>
</html>
