<!DOCTYPE html>
<html>
<head>
  <title>CS 313 Walmart Node App</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="application/json" src="/js/index.js"></script>
</head>

<body>

<h1>CS 313 Walmart Node App</h1>

<p>Welcome to the Walmart Node app. Here, you will find hot products on the Walmart website. You can also browse by category or search by product id or name.</p>
    
<section class="item-container">
                <h1 id="name"></h1>
                <ul id="current_trends">
                    <li id="productId"></li>
                    <li id="regularPrice"></li>
                    <li id="salePrice"></li>
                </ul>
            </section>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>

</body>
</html>
